@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@font-face {
	font-family: Emoji;
	src: url(NotoEmoji-Regular.ttf);
}
@font-face {
	font-family: ColourEmoji;
	src: url(NotoColorEmoji.ttf);
}
@font-face {
	font-family: Symbols;
	src: url(NotoSansSymbols-Regular.ttf);
}
@font-face {
	font-family: Symbols2;
	src: url(NotoSansSymbols2-Regular.ttf);
}
@font-face {
	font-family: Cuneiform;
	src: url(NotoSansCuneiform-Regular.ttf);
}
@font-face {
	font-family: OldEnglish;
	src: url(UnifrakturCook-Bold.ttf);
}